/assign1.aux
/assign1.fdb_latexmk
/assign1.fls
/assign1.log
/assign1.synctex.gz
/assign2.aux
/assign2.fdb_latexmk
/assign2.fls
/assign2.log
/assign2.synctex.gz
/assign3.aux
/assign3.fdb_latexmk
/assign3.fls
/assign3.log
/assign3.synctex.gz
/notes.aux
/notes.fdb_latexmk
/notes.fls
/notes.log
/notes.synctex.gz